<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Surf and Paddle Co.</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/custom.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h3>Surf and Paddle Co.</h3></div>
        <div class="col-md-3 col-md-offset-6">
          <div class="custom-nav">
            <ul>
              <li>About</li>
              <li>Search</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-md-12 text-center">
          <h1>Surf and Paddle Co.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>an Iron Yard exclusive</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end .jumbotron -->

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Super exciting things!</h2>
        <ul class="tiny-author-info">
          <li><div class="author-photo small-photo"></div>Anya</li>
          <li>on July 16, 2015</li>
        </ul>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>

        <h3>Whoa!</h3>

        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee. Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
        <button class="btn btn-default" type="submit">Read Comments</button>
        <button class="btn btn-default" type="submit">Read Later</button>
        <button class="btn btn-default" type="submit">Share this Post</button>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <div class="author-info">
          <div class="author-photo large-photo"></div>
          <p>Anya</p>
          <ul>
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Instagram</li>
          </ul>
        </div>

        <div class="ad">
          <img src="images/water.jpg">
        </div>

        <div class="side-bar-content">
          <h4>Cupcake Stuff</h4>
          <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end main area -->

  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beach.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beer.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/foam.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beach-chairs.jpg"></a></div>
    </div>
  </div>
  <!-- end bottom content -->

  <div class="row text-center custom-footer">
    <div class="container">
      <div class="col-md-3">
        Copyright Iron Yard 2015
      </div>
      <div class="col-md-4 col-md-offset-5 footer-nav">
        <ul>
          <li>Nav Item</li>
          <li>Nav Item</li>
          <li>Nav Item</li>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>
