<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Surf and Paddle Co.</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3"><h3>Surf and Paddle Co.</h3></div>
        <div class="col-md-3 col-md-offset-6">
          <div class="custom-nav">
            <ul>
              <li>About</li>
              <li>Search</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-md-12 text-center">
          <h1>Surf and Paddle Co.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>an Iron Yard exclusive</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end .jumbotron -->



  <%= yield %>



<!-- Bottom content begin -->
  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beach.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beer.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/foam.jpg"></a></div>
      <div class="col-md-3"><a href="#" class="thumbnail"><img src="images/beach-chairs.jpg"></a></div>
    </div>
  </div>
  <!-- end bottom content -->

  <!-- begin footer -->
  <div class="row text-center custom-footer">
    <div class="container">
      <div class="col-md-3">
        Copyright Iron Yard 2015
      </div>
      <div class="col-md-4 col-md-offset-5 footer-nav">
        <ul>
          <li>Nav Item</li>
          <li>Nav Item</li>
          <li>Nav Item</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end footer -->

</body>
</html>
