
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Super exciting things!</h2>
      <ul class="tiny-author-info">
        <li><div class="author-photo small-photo"></div><%= @author_info[:name] %></li>
        <li><%= @author_info[:date_published] %></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut lectus vel magna fringilla molestie nec vel dui. Etiam accumsan at eros et mollis. Integer non tellus feugiat, consectetur dui non, semper velit. Integer neque ante, congue quis mauris at, maximus consectetur urna. Integer a diam vitae ex cursus tempus id quis dolor. Morbi feugiat nunc tortor, id euismod magna tempus eu. Donec vitae felis sit amet elit pretium lacinia et vitae leo. Mauris eu aliquet ante. Ut pretium dignissim magna non lobortis. Ut fermentum erat vitae aliquet fringilla. Morbi gravida porta turpis sed lobortis. Duis condimentum augue sit amet ipsum tincidunt, nec consequat quam venenatis. Phasellus placerat eros eu justo hendrerit, eu rutrum sapien imperdiet. Nunc vestibulum ex vel dui commodo, nec porttitor leo vulputate. Sed eget tellus ac sapien ullamcorper porttitor quis a velit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut lectus vel magna fringilla molestie nec vel dui. Etiam accumsan at eros et mollis. Integer non tellus feugiat, consectetur dui non, semper velit. Integer neque ante, congue quis mauris at, maximus consectetur urna. Integer a diam vitae ex cursus tempus id quis dolor. Morbi feugiat nunc tortor, id euismod magna tempus eu. Donec vitae felis sit amet elit pretium lacinia et vitae leo. Mauris eu aliquet ante. Ut pretium dignissim magna non lobortis. Ut fermentum erat vitae aliquet fringilla. Morbi gravida porta turpis sed lobortis. Duis condimentum augue sit amet ipsum tincidunt, nec consequat quam venenatis. Phasellus placerat eros eu justo hendrerit, eu rutrum sapien imperdiet. Nunc vestibulum ex vel dui commodo, nec porttitor leo vulputate. Sed eget tellus ac sapien ullamcorper porttitor quis a velit.</p>

      <h3>OMG!</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut lectus vel magna fringilla molestie nec vel dui. Etiam accumsan at eros et mollis. Integer non tellus feugiat, consectetur dui non, semper velit. Integer neque ante, congue quis mauris at, maximus consectetur urna. Integer a diam vitae ex cursus tempus id quis dolor. Morbi feugiat nunc tortor, id euismod magna tempus eu. Donec vitae felis sit amet elit pretium lacinia et vitae leo. Mauris eu aliquet ante. Ut pretium dignissim magna non lobortis. Ut fermentum erat vitae aliquet fringilla. Morbi gravida porta turpis sed lobortis. Duis condimentum augue sit amet ipsum tincidunt, nec consequat quam venenatis. Phasellus placerat eros eu justo hendrerit, eu rutrum sapien imperdiet. Nunc vestibulum ex vel dui commodo, nec porttitor leo vulputate. Sed eget tellus ac sapien ullamcorper porttitor quis a velit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut lectus vel magna fringilla molestie nec vel dui. Etiam accumsan at eros et mollis. Integer non tellus feugiat, consectetur dui non, semper velit. Integer neque ante, congue quis mauris at, maximus consectetur urna. Integer a diam vitae ex cursus tempus id quis dolor. Morbi feugiat nunc tortor, id euismod magna tempus eu. Donec vitae felis sit amet elit pretium lacinia et vitae leo. Mauris eu aliquet ante. Ut pretium dignissim magna non lobortis. Ut fermentum erat vitae aliquet fringilla. Morbi gravida porta turpis sed lobortis. Duis condimentum augue sit amet ipsum tincidunt, nec consequat quam venenatis. Phasellus placerat eros eu justo hendrerit, eu rutrum sapien imperdiet. Nunc vestibulum ex vel dui commodo, nec porttitor leo vulputate. Sed eget tellus ac sapien ullamcorper porttitor quis a velit.</p>

      <button class="btn btn-default" type="submit">Read Comments</button>
      <button class="btn btn-default" type="submit">Read Later</button>
      <button class="btn btn-default" type="submit">Share this Post</button>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <div class="author-info">
        <div class="author-photo large-photo"></div>
        <p><%= @author_info[:name] %></p>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Instagram</li>
        </ul>
      </div>

      <div class="ad">
        <img src="images/water.jpg">
      </div>

      <div class="side-bar-content">
        <h4>Cupcake Stuff</h4>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee.</p>
      </div>
    </div>
  </div>
</div>
